@import url('https://fonts.googleapis.com/css2?family=Jost&family=Rubik&display=swap');
body,
html {
    font-family: 'Jost', sans-serif;
    font-family: 'Rubik', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background-color: rgb(30, 33, 36);
    color: white;
}

#navbar-brand {
    margin-right: -2.5em
}

#navbarSupportedContent {
    justify-content: right;
}

.nav-pills .nav-link.active {
    background-color: rgba(255, 255, 255, 0.151);
}

#create-record {
    color: white;
}

.container-default {
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 30px;
    color: white;
    background-color: rgba(255, 255, 255, 0.11);
    width: fit-content;
    height: fit-content;
    border-radius: 25px;
}

#container-3 {
    background: black;
}

ul#horizontal-list {
    min-width: 696px;
    list-style: none;
}

ul#horizontal-list li {
    display: inline;
}

#webview {
    background: #FFFFFF;
    border-radius: 25px;
}