@import url('https://fonts.googleapis.com/css2?family=Jost&family=Rubik&display=swap');
body,
html {
    font-family: 'Jost', sans-serif;
    font-family: 'Rubik', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background-color: rgb(30, 33, 36);
    color: white;
    scroll-behavior: smooth;
}

a {
    color: skyblue;
}

#navbar-brand {
    margin-right: -2.5em
}

#navbarSupportedContent {
    justify-content: right;
}

.nav-pills .nav-link.active {
    background-color: rgba(255, 255, 255, 0.151);
}

#create-record {
    color: white;
}

.form-control {
    color: white;
    background-color: rgb(30, 33, 36);
}

.container-default {
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 30px;
    color: white;
    background-color: rgba(255, 255, 255, 0.11);
    width: fit-content;
    height: fit-content;
    border-radius: 25px;
}

.container-1 {
    margin: 10px;
}

#container-2 {
    background: black;
}

ul#horizontal-list {
    min-width: 100%;
    list-style: none;
}

ul#horizontal-list li {
    display: inline;
}

#github-btn {
    margin-top: 10px;
}

#webview {
    margin-top: 30px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
}

#button-generic {
    margin: 3px;
}

#scroll-down {
    margin-top: 10px;
}

#practice-question {
    margin-top: 30px;
}

#question-drawing-container {
    display: inline-grid;
    row-gap: 20px;
}